  .nav-item a{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
  }
  .nav-item a:before{
    content: '';
    width: 0px;
    height: 5px;
    background: #00bcd4;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;

  }
  .nav-item:hover a:before{
   width: 70%;
    transform: translateX(30%);
  }
  