.App{
   height: 67vh;
}


/* Servives */
.services {
    background-color: #121f35;
    padding: 50px 0;
    color: lightseagreen;
  }
  
  .common {
    width: 33.33333333333333%;
    margin: 20px auto;
    text-align: center;
  }
  
  .heading {
    margin-bottom: 20px;
    font-weight: 500;
    color: #ff4a57;
    font-size: 16px;
  }
  .mainHeader {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
  }
  .mainContent {
    font-size: 16px;
    color: #dfdfdf;
  }
  .commonBorder {
    background: #ff4a57;
    height: 3px;
    width: 100px;
    margin: 30px auto;
  }
  
  .services__box {
    padding: 40px;
    background: #23263a;
    color: #fff;
    margin: 20px;
    transition: all 0.5s linear;
  }
  .services__box:hover {
    background: #ff4a57;
    cursor: pointer;
  }
  .commonIcons {
    font-size: 40px;
    color: #ff4a57;
    margin-bottom: 15px;
  }
  .services__box:hover .commonIcons {
    color: #fff;
  }
  .services__box-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .services__box-p {
    font-size: 14px;
    color: #dfdfdf;
  }

  .col-4{
      width: 33.33%;
  }

  /* Header PArt*/

  .header-wrapper{
      position: relative;
      background: url(./img/josh-sorenson-P_K20Fdu7ZQ-unsplash.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      height: 90vh;
  }
  .header-wrapper::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(12, 11, 27);
    opacity: 0.8;
    z-index: -1;
}

.main-info{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    left: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-items: center;
    z-index: 1;;
}

.main-info h1{
    text-transform: uppercase;
    color: honeydew;
}

/* typed text */

.typed-text{
    font-size: 22px;
    color: orange ;
    font-weight:500;
}

/* particles */
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.nav{
    z-index: 2;
}
.homePage{
    z-index: 2;
}



/* skills section styling */
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
/* .skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
} */
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(19, 144, 216);
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 70%;
}
.skills-content .right .php::before{
    width: 80%;
}
.skills-content .right .mysql::before{
    width: 70%;
}

@media (max-width: 991px) {
    .skills .skills-content .column{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    .me img{
        display: block;
        margin: 0 auto;
    }
    .text-info {
        width: 100%;
    }
    .about-wrapper{
        padding-bottom: 100px;
    }
}

@media (max-width: 500px) {
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .skills .skills-content .column{
        margin: 20px;
    }
    .me img{
        display: block;
        margin: 0 auto;
    }
    .text-info {
        width: 100%;
    }
    .about-wrapper{
        padding-bottom: 100px;
    }
}


/* portfolio section */
.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.effect:hover{
    background: #27185a;
   
    box-shadow: 0 8px 20px #27185a;
    color: #fff;
    transform: translateY(-20px);
    transition: .4s ease-in-out;
}


/* contact */

.contact{
    background-color: #0a192f;
    background-size: cover;
    background-repeat: no-repeat center;
    position: relative;
    z-index: 1;
}
.contact::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: -1;
}
.contact-content{
    padding-top: 50px;
}
.contact input{
    background: transparent;
    border: 1px solid lightseagreen;
}

.contact textarea{
    background: transparent;
    
}

.contact p{
    color:floralwhite;
}
.contact h3{
    color:lightseagreen;
}

#message{
    margin-top:20px;
    border: none;
    border-radius: 4px;
    border: 1px solid lightseagreen;
}

/* footer */

.footer-area{
    background-size: cover;
    background-repeat: no-repeat center;
    background-color: rgb(14, 14, 54);
}

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}
.copyRight{
    color: darkgrey;
}

/* Issue fixed */
/* .about-wrapper{
    position: relative;
   
    ;
} */

/* .about-info{
    position: absolute;
    top: 0;
    
    z-index: 1;
} */

/* .portfolio-wrapper{
    position: relative;
   
}

.portfolio-info{
    position: absolute;
   
    z-index: 1;
} */